
<%= form_for :board_game, url: url_for_form_for_search_bar, method: 'get',  html: {class: "searchform cf"} do |f| %>

    <%= f.text_field :query, placeholder: "Search name of game:"%>
    <%= submit_tag("Search") %>
<% end %>
<br>

<%= display_user_name_if_not_current %><br>

<ol class="gradient-list">
    <% @board_games.each do |board_game| %>
        <li><%= link_to board_game.name, board_game_path(board_game) %></li>
    <% end %>
</ol>

<p>Couldn't find the game you're looking for? <%= link_to "Create it!", new_board_game_path %></p>