<!DOCTYPE html>
<html>
  <head>
    <title>BoardGameOnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/pretty_lists.css">
    <link rel="stylesheet" href="/stylesheets/search_bar.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="navigation">
      <div class="nav-container">
        <div class="brand">
          <%= display_user_or_home_page %>
        </div>
        <nav>
          <ul class="nav-list">
            <li>
              <%= link_to "Registered Users", users_path %>
            </li>

            <li>
              <%= link_to "Board Games", board_games_path %>
            </li>

            <li>
              <%= display_log_in_out %>
            </li>
          </ul>
        </nav>
      </div>
    </section>

    <% flash.each do |type, msg| %>
      <div class="field field_with_errors">
        <h3><%= msg %></h3>
      </div>
    <% end %>
    
    <%= yield %>
  </body>
</html>
